@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-white: #fff;
  --color-purple: #3f3cbb;
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
  --color-primary: #f97316;
  --color-primaryDark: #e86f00;
  --color-lightOrange: #f1dabf;
  --color-darkGray: #1a1f25;
  --color-lightGray: #272c35;
}

@utility img-shadow {
  filter: drop-shadow(40px 50px 25px #0f1115);
}

@utility img-shadow2 {
  filter: drop-shadow(10px 30px 15px #3030307a);
}

@utility input-style {
  padding: 8px 16px; /* px-4 (16px) and py-2 (8px) */
  border: 1px solid #9ca3af; /* border-grey-400 (#9CA3AF in Tailwind) */
  border-radius: 6px;
}

@utility primary-btn {
  @apply bg-primary text-white px-4 py-2 rounded-md hover:bg-primaryDark duration-200;
}

@utility container {
  @apply place-content-center p-4 sm:px-8;
}
